.label {
-fx-font-family : "B Nazanin";
-fx-font-size:21px;
-fx-font-weight:bold;
}

.text-field {
-fx-font-family : "B Nazanin";
-fx-font-size:20px;
}

.combo-box {
-fx-font-family : "B Nazanin";
-fx-font-size:20px;
}
